body {
  font-family: "Varela Round", sans-serif;
}
.card {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 10px;
  border: 3px solid #4eae53;
  border-radius: 25px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(161, 255, 206) 0%,
    rgb(250, 255, 209) 90%
  );
}

button {
  height: 50px;
  border: 2px solid #8dc351;
  border-radius: 15px;
  outline: none;
  background-color: white;
  color: #8dc351;
  margin-top: 10px;
}

h1 {
  color: #8dc351;
  font-size: 48px;
  text-align: center;
  margin: 25px 0 10px 0;
  font-weight: bold;
  text-transform: capitalize;
  text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff,
    3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff;
}

h2 {
  text-align: center;
  color: #4eae53;
  line-height: 60px;
  font-size: 23px;
}

.units {
  display: block;
  margin: 0 auto;
  color: #949aa9;
}
#cel,
#fah {
  text-decoration: none;
  color: #949aa9;
}

#cel:hover {
  color: rgb(57, 141, 236);
  font-size: 17px;
}

#fah:hover {
  color: rgb(57, 141, 236);
  font-size: 17px;
}

.icons {
  display: block;
  margin: 0 auto;
}

.row {
  margin: 10px;
}

#clouds {
  text-transform: capitalize;
}

.prediction {
  padding: 20px 0px;
  color: #949aa9;
  border: 2px solid rgb(255, 244, 235);
  border-radius: 15px;
  background-color: rgb(250, 249, 248);
  margin-bottom: 40px;
  text-align: center;
}
.apiIcon {
  display: block;
  margin: 0 auto;
}
p {
  text-align: center;
  color: rgb(250, 191, 210);
  margin-top: 10px;
}
